section
  h1 Web Development Build Tooling
  h3 Because the computer can do it much faster

section
  h1 What can it do?
  ul
    li Compile SASS/SCSS/LESS to CSS
    li Transform ES2015 and beyond into well-supported JS
    li Minify code and images
    li Upload assets to S3
    li Remove development code in production builds
    li Live-reload the browser when you change something

section
  h1 Slide decks too!
  p This slide deck was built with reveal.js and Webpack, and every time I changed a file, it showed up in the browser a split-second later.

